@using courses_shop.Shared;

<div class="modal bg-secundary" tabindex="-1" style="display: block;" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">@curso.NombreCurso</h4>
            </div>
            <div class="modal-body">
                <p>@curso.Descripcion</p>
                <p>@curso.Precio.PrecioVenta.ToString() L</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" type="button" data-dismiss='modal'>Cerrar</button>
            <button class="btn btn-primary" type="button">Agregar</button>
            </div>
        </div>
    </div>
</div>

@code{
    [Parameter]
    public Curso curso{get;set;}
}