@inherits LayoutComponentBase

<div class="barra-superior">
    <img src="/css/imagenes/Logo.png" alt="" class="logo">
    <NavLink class="navegacion-tab" Match="NavLinkMatch.All">
        <div class="text-body">
            <img src="/css/imagenes/biblioteca.svg" alt="">
        </div>
    </NavLink>
</div>
 <div class="content">
    @Body
</div>

       
            
       
