@inherits LayoutComponentBase

<div class="barra-superior">
    <img src="/css/imagenes/Logo.png" alt="" class="logo">
    <NavLink class="navegacion-tab" Match="NavLinkMatch.All">
        <div class="text-body">
            <img src="/css/imagenes/biblioteca.svg" alt="">
        </div>
    </NavLink>
    <NavLink href="/AltaUsuario" class="navegacion-tab usuario" Match="NavLinkMatch.All">
    <img src="/css/imagenes/nuevoUsuario.svg" alt="">
    </NavLink>
     <NavLink href="/LogIn" class="navegacion-tab" Match="NavLinkMatch.All">
    <img src="/css/imagenes/Login.svg" alt="">
    </NavLink>
</div>
 <div class="content">
    @Body
</div>




